{% extends '::layout.html.twig' %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Hello, world!</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>
    <div class="row">
        {% for latest_penguin in latest_penguins %}

            {% include ':penguin/widget:card.html.twig' with {'penguin': latest_penguin} %}

            {% if 0 == loop.index % 3 and not loop.last %}
                </div><div class="row">
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
